MAIN_URL=https://post.sugimotogroup.org
FRONTEND_URL=https://post.sugimotogroup.org
NEXT_PUBLIC_BACKEND_URL=https://post.sugimotogroup.org/api
JWT_SECRET=GENERATED-ON-SERVER
POSTGRES_PASSWORD=GENERATED-ON-SERVER
DISABLE_REGISTRATION=false
FACEBOOK_APP_ID=2133564544263694
FACEBOOK_APP_SECRET=
YOUTUBE_CLIENT_ID=
YOUTUBE_CLIENT_SECRET=
X_API_KEY=
X_API_SECRET=
TIKTOK_CLIENT_ID=
TIKTOK_CLIENT_SECRET=
